

<section class="content-wrapper">

   <section class = "form-wrapper">
      <h1>turly.io</h1>
      <h2>Our service makes your urls short and sweet.</h2>

   	<%= form_for @url, :url => {action: "create"} do |f|%>
         <%= f.text_field :url %>
         <%= f.submit "shorten", class: "shorten-btn btn" %>
      <%end%>
   </section>

   <%if flash[:error]%>
      <div class="error" style="color: red">
         <%=flash[:error]%>
      </div>
   <%end%>

   <%if flash[:success]%>
      <div class="success" style="color: green">
         <%=flash[:success]%>
      </div>
   <%end%>
   
</section>